<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <title>dojos</title>
</head>

<body>
    <div class="d-flex justify-content-evenly p-4">

        <div class="">
            <h2>New Dojo</h2>
            <form action="/create_dojo" method="post">
                <label for="nameDojo" class="mb-2">Name: </label>
                <input class="form-control mb-3" type="text" name="name" id="nameDojo">
                <button class="btn btn-outline-dark">Create</button>
            </form>
        </div>
        <div>
            <h2>All Dojos</h2>
            <ul class="list-unstyled border border-2 border-dark p-3 ">
                {% for dojo in dojos %}
                <li><a href="/dojos/{{dojo.id}}">{{dojo.name}}</a></li>
                {% endfor %}
            </ul>
            <a href="/ninjas">Add Ninja</a>
        </div>
    </div>

</body>

</html>